.root {
    padding: 6px;
}

.contentInput {
    margin-bottom: 6px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
