.contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: content-box;
    text-align: center;
}

.inputRow {
    padding: 6px;
}